body {
    text-align: center;
    background-color: lightblue;
}

#text {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

#projects ul {
    margin: auto;
    width: 100%;
    height: 700px;
    overflow-y: auto;
    list-style-type: none;
    padding:0
}

#projects li {
    width: 240px;
    height: 240px;
    vertical-align: top;
    display: inline-block;
    margin: 10px;
    background-color: lightgreen;
    border: 5px solid green;
    border-radius: 20px;
}

#gif {
    width: 100%;
    height: 70%;
}

#gif img{
    margin-top:5px;
    max-width: 100%;
    max-height: 100%;
}